Repository Dulce-Work-Schedule/2018.1-Dulce_App, pull requests merged in 2018-05, with the labels that each got.

#343 Fix #297 Protótipo
  docs/assets/img/prototipo/1.3-login.png
  docs/especificacao/prototipo.html
Labels: 0-Developers, 1-Produto, 2-Design, 2-GitHub Pages, 2-Protótipo, 5-Intermediário

#363 Fix 216 deploy continuo
  .travis.yml
  android/Gemfile
  android/Gemfile.lock
  android/app/build.gradle
  android/fastlane/Appfile
  android/fastlane/Fastfile
  android/fastlane/Pluginfile
  android/fastlane/README.md
  android/fastlane/metadata/android/pt-BR/changelogs/1.txt
  android/fastlane/metadata/android/pt-BR/changelogs/2.txt
  android/fastlane/metadata/android/pt-BR/changelogs/3.txt
  android/fastlane/metadata/android/pt-BR/full_description.txt
  android/fastlane/metadata/android/pt-BR/images/icon.png
  android/fastlane/metadata/android/pt-BR/short_description.txt
  android/fastlane/metadata/android/pt-BR/title.txt
  android/fastlane/metadata/android/pt-BR/video.txt
  android/fastlane/playstore_key.json.encrypt
  utils/run_build.sh
  utils/run_decrypt_keystore.sh
  utils/run_decrypt_playstore_json.sh
  utils/run_deploy.sh
  utils/run_update_gradle_properties.sh
  utils/run_update_version_code.sh
Labels: 0-DevOps, 1-Infraestrutura, 2-Deploy Contínuo, 2-Integração continua, 3-Task, 5-Avançado

#364 HOTFIX: #216 Arrumando configuração de deploy do travis
  .travis.yml
Labels: 0-DevOps, 1-Infraestrutura, 2-Deploy Contínuo, 2-Integração continua
